:root{
    --background-color: rgb(42, 45, 49);
    --mustard-color: rgb(190, 161, 82)
}
.navbar{
    font-size: 120%;
    background-color: var(--background-color) !important;
}
.navbar-icon{
    font-size: 120%;
    padding: 0 10px;
}
.body{
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
}
main>h1{
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.puppiness{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
}
.image-container{
    display: flex;
    justify-content: space-evenly;

}
.center-vh{
    position: relative;
}
.center-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-container{
    min-height: auto;
    padding: 1em;
}
.footer{
    margin-top: 1em;
    background-color: var(--background-color);
    color: white;
    padding-top: 20px;
    justify-content: space-evenly;
}
.img-text{
    color: white;
    font-size: 48px;
    font-weight: bold;
}
.card-img-overlay{
    display: none;
}
a{
    color: white;
}
a:hover{
    color: lightblue;
}
.team-members{
    display: flex;
    justify-content: space-around;
    margin-top: 1em;

}



/*DISPLAY WHEN HOVERING HIDE WHEN NOT*/
/*.card-img-overlay{*/
/*    display: none;*/
/*}*/
/*.card-img-overlay:hover{*/
/*    display: inline;*/
/*}*/
